%h1 Welcome to this sample website

%p
  This is an example for the blogpost at
  = link_to "iain.nl", "http://iain.nl/backends-in-rails-3-1"
%p
  The source is available on
  = link_to "github", "https://github.com/iain/simple-backend-example"
