.block
  .content
    %h2 Edit #{resource_class.model_name.human}

    .inner
      = render "form", attributes: attributes

= content_for :sidebar do
  .block
    %h3 Navigation
    %ul.navigation
      %li= link_to "Back", resource_path
